:root{
    --color-placeholder: #d9d9d9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
     font-family: "Outfit", sans-serif;
}

body{
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-position: top center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    gap: 1rem;
    padding: 5rem 0;
}

button{
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.container{
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    font-size: 3rem;
    color:#31509e;
}

/* Budget Section */
#budget-details{
    gap: 1rem;
}

.budget-section{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.budget-card{
    background-color: #0f379ba8;
    padding: 1rem;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
}

.budget-name{
    font-size: 1.25rem;
}

.budget-amount{
    font-size: 2rem;
    font-weight: 800;
}

.add-budget-button{
    height: 6rem;
    border-radius: 1.5rem;
    background-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    border: 2px dashed var(--color-placeholder);
    color: var(--color-placeholder);
}

/* Budget Details */
.back-home-button{
    padding: .5rem 1rem;
    border-radius: 50px;
    background-color: white;
    border: 1px solid var(--color-placeholder);   
    display: flex;
    align-items: center;
    gap: .5rem;
    transform: translateY(-2rem);
    color: #4b4b4b;
}

#budget-details .back-home-button .icon-back-home{
    font-size: 1rem;
}

#budget-details .budget-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#budget-details .icon{
    border: 1px solid #e0e0e06f;
    aspect-ratio: 1/1;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #e0e0e06f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#budget-details i{
    font-size: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
    .budget-section{
        padding: 1rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}